.forms-block { 
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 100%;
    margin: 0 auto;
}

.forms-block input {
    color: #08082D;
    font-family: Archivo, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;   
    letter-spacing: 0.05em;
    /* padding-bottom: 5px;
    padding-top: 5px;
    text-align: left; */

    border-color: #08082D;
    background-color: #F4F4F4;
    border: 2px solid #08082D;
    box-sizing: border-box;
    border-radius: 5px;
}